body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    background-color: cornflowerblue;
    color: gold;
    padding: 10px;
    margin: 10;
}

#starters_image_div{
    border: 2px cornflowerblue solid;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.each_pokemon_container{
    max-width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;
}

#bulbasaur_container{
    border-radius: 20px;
    border: 1px gold solid;
    background-color: #8aa58a;
    padding: 10px;
}


#charmander_container{
    border-radius: 20px;
    border: 1px gold solid;
    background-color: #f3bf78;
    padding: 10px;
}

#squirtle_container{
    border-radius: 20px;
    border: 1px gold solid;
    background-color: #9dc6de;
    padding: 10px;
}

footer{
    padding: 25px;
}
